.container {
  width: 730.18px;
  height: 739px;
  background: linear-gradient(128.16deg, #f0f4fd 2.37%, #ecf2ff 88.76%);
  transform: rotate(4deg);
  border-radius: 50%;
  margin: auto;
  /* display: none; */
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid var(--purple);
}

.minCircle {
  width: 20px;
  height: 20px;
  background-color: var(--purple);
  border-radius: 50%;
}
