.firstTipContainer {
  margin-bottom: 150px;
}

.firstTipContainer span {
  padding: 20px;
  background-color: var(--blue);
  color: white;
}

.firstTipContainer span:nth-child(1) {
  border-radius: 7px 0 0 7px;
  padding-right: 60px;
}
.firstTipContainer span:nth-child(2) {
  background-color: var(--dark-blue);
}
.firstTipContainer span:nth-child(3) {
  border-radius: 0 7px 7px 0;
}

.firstTipContainer strong {
  font-size: 15px;
  color: var(--gray);
}
